<body class="i-index">
  <div class="col-8">
  <h2>
    <span>
      <a href="/">Anasayfa</a>
    </span>
  </h2>
  <hr />
  <div class="main-content">
    <form action="">
      <textarea
        style="text-align: center; font-size: 25px;"
        name="message"
        id="message"
        rows="10"
        placeholder="PAYLAŞIM YAPMAK İÇİN GİRİŞ YAPINIZ!"
      ></textarea>
      <div class="send">
        <div class="camera">
          <label for="file-input">
            <i class="fa fa-camera"></i>
          </label>
          <input id="file-input" type="file" />
        </div>
        <div class="camera">
          <label for="file-input">
            <i class="fa fa-image icon"></i>
          </label>
          <input id="file-input" type="file" />
        </div>
        <div class="camera">
          <label for="file-input">
            <i class="fa fa-file-pdf"></i>
          </label>
          <input id="file-input" type="file" />
        </div>
        <button class="button1">Sorcele</button>
      </div>
    </form>
  </div>
  <hr />
  <div>
    <div>
      <nav class="main-nav giris" style="float:none; text-align: center;">
        <ul class="main-nav__items">
          <li class="main-nav__item">
            <i class="fa fa-right-to-bracket"></i>
            <a href="/users/giris-yap">Giriş Yap</a></li>
          <li class="main-nav__item">
            <i class="fa fa-right-to-bracket"></i>
            <a href="/users/kayit-ol">Kayıt Ol</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</body>